@import "./fonts/satoshi.css";

@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
    --color-light: #1d1d27;
    --color-mid: #0e0e17;
    --color-dark: #010106;
    --color-bg: #010106;

    --animate-fade: fade 0.5s cubic-bezier(0.39, 0.21, 0.12, 0.96) both;

    @keyframes fade {
        from {
            opacity: 0;
            filter: blur(10px);
        }
    }
}

body {
    background: var(--color-bg);
    color: white;
    font-family: "Satoshi-Variable", sans-serif;
}

button {
    cursor: pointer;
}
